
body{
  background-color: #e1ebe5;
}
#hamd {
    font-family: 'Al Qalam Quran Majeed Web', serif;
    color: white;
    font-size: 20px; 
    align-items: center;
    text-align: center;
    height: 35px;
    background-color:#0fd841;
    width: 100%;
}
.dropdown {
  position: relative;
    display: inline-block;
    margin-right: 20px;
    float: right;
    
  }
  
  .dropbtn {
    background-color:#e1ebe5;
    color: #1b1b1b;
    border: none;
    width: 130px;
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'attari font', serif;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
   
  }
  .dropbtn:hover{
    background-color: green;
    color: white;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    font-family: 'attari font', serif;
    font-size: 20px;
    text-align: center;
    background-color: #e1ebe5;
    min-width: 130px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  .dropdown-content:hover{
    cursor: pointer;
    background-color: #0fd841;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover{
    background-color: #1cd4d42d;
    color:azure;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 #nk {
  text-align: center;
  font-weight: bold;
  clear: both;
  font: 20px 'attari font', serif;
  background-color: white;
  word-spacing: 10px;
  padding-top: 8px;
 }
 iframe {
  width: 700px;
  height: 400px;
  

 }